@page "/"
@layout HomeLayout

<div class="bg-white">
      <div class="container">
        <div class="row">
          <div class="col-md-10 mx-auto">
            <div class="row">
              <div class="col-md-4 ml-auto">
                <h2>Simple Matrix Software</h2>
              </div>
              <div class="col-md-6 mr-auto">
                <p class="lead text-dark">
                  Simplify the proposal process by quickly identifying the needs, parsing complex documents into simple easy to read grid based results.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="row mt-5">
          <div class="col-md-4">
            <div class="media">
              <div class="icon mr-3">
                <MudIcon Icon="@Icons.Material.Outlined.GetApp"></MudIcon>
              </div>
              <div class="media-body">
                <h3 class="h4">Identify Internal Gaps</h3>
                <p class="text-dark text-left">
                  Simple Matrix One-Button Capability Matrix eliminates guessing and accurately identifies your internal Gaps.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="icon mr-3">
                  <MudIcon Icon="@Icons.Material.Outlined.People"></MudIcon>
              </div>
              <div class="media-body">
                <h3 class="h4">Establish a Winning Team</h3>
                <p class="text-dark text-left">
                  Identify Teammates who Fill your GAPS using SimTrixx Capability Matrix.
                </p>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="media">
              <div class="icon mr-3">
                  <MudIcon Icon="@Icons.Material.Outlined.PinEnd"></MudIcon>
              </div>
              <div class="media-body">
                <h3 class="h4">Compelling Proposals</h3>
                <p class="text-dark text-left">
                  Write and submit a compelling Proposal with the Right Team with the Right Experience and Past Performance.
                </p>
              </div>
            </div>
          </div>
        </div><!-- /.row -->
      </div>
    </div>

    <div class="py-6 bg-light">
    <div class="container">
        <div class="text-center mb-5">
            <h3>What others are saying</h3>
        </div>
    </div>
    <div data-flickity='{ "prevNextButtons": false, "wrapAround": true}'>
        <div class="carousel-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto">
                        <div class="media">
                            <img src="img/MichelleFarmer.jpg" alt="Avatar" class="img-fluid rounded-circle mr-4" style="max-width:128px;" />
                            <div class="media-body">
                                <blockquote class="h3 font-weight-normal">
                                    “Simtrixx is a life saver. I click enter and in minutes I have produced a top-quality Capability Matrix either as a Word Table or Excel document. It also helps me organize acronyms correctly within each proposal we produce!”
                                </blockquote>
                                <span>Michelle L. Farmer Operations Manager</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="carousel-cell">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 mx-auto pt-7">
                        <div class="media">
                            <img src="img/SeanMcPhilomy.png" alt="Avatar" class="img-fluid rounded-circle mr-4" style="max-width:128px;" />
                            <div class="media-body">
                                <blockquote class="h3 font-weight-normal">
                                    “Simtrixx creates value every time we use it. It has saved The Center for Organizational Excellence time and money by producing actionable Capability Matrices with the simple touch of a button!”
                                </blockquote>
                                <span>Sean McPhilomy Vice President of Strategic Growth</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="carousel-cell">
          <div class="container">
            <div class="row">
              <div class="col-md-10 mx-auto">
                <div class="media">
                  <img src="img/avatars/3.jpg" alt="Avatar" class="img-fluid rounded-circle mr-4" style="max-width:128px;" />
                  <div class="media-body">
                    <blockquote class="h3 font-weight-normal">
                      “I can only recommend both this theme and the competent developer behind it to other people. Quick & helpful support! ”
                    </blockquote>
                    <span>Jane Roe</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>*@
    </div>
</div>

<div class="py-6 bg-primary text-white">
    <div class="container">
        <div class="row">
            <div class="col-md-10 mx-auto">
                <div class="row">
                    <div class="col-md-4 ml-auto">
                        <h2>Who we are<br /> working with</h2>
                    </div>
                    <div class="col-md-6 mr-auto">
                        <p class="lead text-light">
                            Simtrixx leverages award winning technologies to ensure your always up to date with the latest software package and support.
                        </p>
                    </div>
                </div>
                <div class="row align-items-center my-md-4 text-center">
                    <div class="col">
                        <MudIcon Icon="@Icons.Custom.Brands.Microsoft" />
                    </div>
                    <div class="col">
                        <MudIcon Icon="@Icons.Custom.Brands.GitHub" />
                    </div>
                    <div class="col">
                        <MudIcon Icon="@Icons.Custom.Brands.MicrosoftAzure" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
