@page "/login"
@layout MainLayout

<MudContainer MaxWidth="MaxWidth.Small" Class="d-flex align-center" Style="height: 50vh;">
    <MudPaper Elevation="25" Class="pa-8" Style="width: 500px;">
        <EditForm Model="@_tokenModel" OnValidSubmit="SubmitAsync">
            <FluentValidationValidator @ref="_fluentValidationValidator" />
            <MudGrid>
                <MudItem xs="12">
                    <TheTitle Title="Login" Description="Please Login to Continue" Icon="@CustomIcons.Login" ViewBox="0 0 700 700" />
                </MudItem>
                <DataAnnotationsValidator />
                <MudItem xs="12">
                    <MudTextField T="string" Label="E-mail" Variant="Variant.Outlined"
                                  @bind-Value="_tokenModel.Email" For="@(() => _tokenModel.Email)" />
                </MudItem>
                <MudItem xs="12">
                    <MudTextField Label="Password" Variant="Variant.Outlined"
                                  @bind-Value="_tokenModel.Password" For="@(() => _tokenModel.Password)"
                                  InputType="@_passwordInput" Adornment="Adornment.End" AdornmentIcon="@_passwordInputIcon" OnAdornmentClick="TogglePasswordVisibility" />
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-space-between align-center">
                    <MudCheckBox T="bool" Label="Remember me?" Color="Color.Primary" Class="ml-n1"></MudCheckBox> <MudLink Href="/account/forgot-password">Forgot password?</MudLink>
                </MudItem>
                <MudItem xs="12" Class="d-flex justify-center">
                    <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Disabled="@_disabled" Color="Color.Primary" Size="Size.Large" Style="width: 100%;">Sign In</MudButton>
                </MudItem>
                <MudItem xs="12">
                    <div class="d-flex justify-center">
                        <MudText>Don't have an account? <MudLink Href="/register">Register here</MudLink></MudText>
                    </div>
                </MudItem>
            </MudGrid>
        </EditForm>
    </MudPaper>
</MudContainer>
